body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d81b60;
  margin-bottom: 30px;
}

.contenedor-semestres {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 40px;
}

.semestre {
  min-width: 230px;
  background-color: #fce4ec;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semestre h2 {
  font-size: 16px;
  color: #ad1457;
  text-align: center;
  margin-bottom: 10px;
}

.ramo {
  background-color: #f8bbd0;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: #444;
}

.ramo:hover {
  background-color: #f48fb1;
}

.ramo.aprobado {
  background-color: #e91e63;
  color: white;
  text-decoration: line-through;
}
